@model IEnumerable<BookShop.Areas.Admin.ViewModels.BookViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sách</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="~/Book/Create" class="btn btn-primary">
                                    Thêm mới
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.books.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.books.Photo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.books.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.books.Amount)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.categories.FirstOrDefault().Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.authors.FirstOrDefault().Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.books.Publisher.Name)
                                    </th>

                                    <th>Chức năng</th>
                                </tr>
                            </thead>


                            @foreach (var item in Model)
                            {
                                var styletd = item.books.Discount > 0 ? "text-decoration: line-through;" : "";

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.books.Name)
                                    </td>
                                    <td>
                                        <img width="100" src="~/Areas/Admin/Data/BookImage/@item.books.Photo" />
                                    </td>
                                    <td style="text-align:right">
                                        <span style="@styletd">@Html.DisplayFor(modelItem => item.books.Price)</span>

                                        @if (item.books.Discount > 0)
                                        {
                                            int? newPrice = item.books.Price * (100 - item.books.Discount) / 100;
                                            <br /> @newPrice
                                        }
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.books.Amount)
                                    </td>
                                    <td>
                                        @{
                                            var authorList = new List<string>();
                                            foreach (var item1 in item.authors)
                                            {
                                                authorList.Add(item1.Name);
                                            }
                                            var authorstring = String.Join(", ", authorList);
                                        }
                                        @Html.DisplayFor(modelItem => authorstring)
                                    </td>
                                    <td>
                                        @{
                                            var categoryList = new List<string>();
                                            foreach (var item1 in item.categories)
                                            {
                                                categoryList.Add(item1.Name);
                                            }
                                            var categorystring = String.Join(", ", categoryList);
                                        }
                                        @Html.DisplayFor(modelItem => categorystring)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.books.Publisher.Name)
                                    </td>

                                    <td>
                                        <a class="btn-edit" href="~/Admin/Book/Edit/@item.books.Id">
                                            <i class="far fa-edit icon-edit"></i>
                                        </a>

                                        <a class="js-delete" href="~/Admin/Book/Delete/@item.books.Id">
                                            <i class="far fa-trash-alt icon-delete"></i>
                                        </a>
                                    </td>

                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<script>
    $(function () {
        $('#sc').select2();
        $('#sp').select2();
        $('#sa').select2();
        $('.orderby').select2();

        @*$("#example1").DataTable({
          "responsive": true, "lengthChange": true, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');*@

      $("#example1").on("click", ".js-delete", function (event) {
          var button = $(this);

          event.preventDefault();

          bootbox.confirm("Bạn chắc chắn muốn xoá mục này?", function (r) {
              if (r) {
                  window.location = button.attr('href');
              }
          })
      });

        if (document.location.search.length) {
            $('#card-id').removeClass('collapsed-card');
            //$('#button-collapse').removeClass('fa-plus');
            //$('#button-collapse').addClass('fa-minus');

            var urlParams = new URLSearchParams(document.location.search);

            $('#sb').val(urlParams.get('sb'));
            $('#mip').val(urlParams.get('mip'));
            $('#map').val(urlParams.get('map'));
            $('#orderby').val(urlParams.get('orderby'));
            $('#orderby').trigger('change');
        }
  });
</script>